@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap');


:root {
    --fuente-principal: "Kanit", sans-serif;
    --negro: #191919;
    --negro-2: #262727;
    --blanco: #ebebeb;
    --celeste: #5ce1e6;
    --rosado: #cf649a;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fuente-principal);
    color: var(--blanco)

}

*,
*:before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--negro);
    height: 100vh;

}

/*GLOBALS*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    margin: 0;
    padding: 0;
    font-family: var(--fuente-principal);

}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--blanco);
    font-family: var(--fuente-principal);
}