@use'../../sass/mixins' as mix;

.contact-container {

    @include mix.flex-standard($flex: column, $items: center, $justify: center);
    margin-top: 10rem;
    padding-bottom: 4rem;


    .text-contact {
        text-align: center;

        p {
            margin-top: 4rem;
            color: var(--celeste);
            span{
                color: var(--rosado);
            } 
        }
    }

    .contacts {

        @include mix.flex-standard($flex: row, $items: center, $justify: center);
        text-align: center;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 2rem;
        width: 24rem;

        .contact {

            a {
                @include mix.flex-standard($flex: row, $items: center, $justify: center);
                font-size: 1.9rem;
                gap: 1rem;
                color: #7b7a7b;

                img {
                    width: 25px;
                }
            }

            &:nth-child(2),
            &:nth-child(3) {
                img {
                    filter: invert(37%) sepia(0%) saturate(1%) hue-rotate(41deg) brightness(102%) contrast(91%);
                }
            }

        }
    }

    @include mix.media-query(l) {
        .text-contact {
            p {

                font-size: 1.8rem;

            }
        }
    }

}